<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
        <bean id="address" class="com.aking.learn.pojo.Address">
            <property name="address">
                <value>北京西站</value>
            </property>
        </bean>

        <bean id="student" class="com.aking.learn.pojo.Student">
            <!--普通注入 value-->
            <property name="name" value="aking"></property>
            <!--bean 注入， ref-->
            <property name="address" ref="address"></property>
            <!--数组注入-->
            <property name="books">
                <array>
                    <value>三国演义</value>
                    <value>水浒传</value>
                    <value>红楼梦</value>
                    <value>西游记</value>
                </array>
            </property>
            <!--list 注入-->
            <property name="hobbies">
                <list>
                    <value>听歌</value>
                    <value>看电影</value>
                    <value>玩游戏</value>
                </list>
            </property>
            <!--map注入-->
            <property name="card">
                <map>
                    <entry key="idCard" value="111111111111"></entry>
                    <entry key="bankCard" value="111111111111"></entry>
                </map>
            </property>
            <!--set注入-->
            <property name="games">
                <set>
                    <value>lol</value>
                    <value>sanguosha</value>
                    <value>xiaoxiaole</value>
                </set>
            </property>
            <!--null-->
            <property name="wifi">
                <null></null>
            </property>
            <!--properties-->
            <property name="info">
                <props>
                    <prop key="username">root</prop>
                    <prop key="password">123456</prop>
                </props>
            </property>
        </bean>

</beans>