# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\01_it\02_learn\14-spring\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
